<!DOCTYPE HTML>

<html>
	<head>
		<title>Practicas Angular js - Materialize</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<link rel="stylesheet" href="assets/css/materialize.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/ngDialog.min.css" />
    <link rel="stylesheet" href="assets/css/ngDialog-theme-default.min.css" />
		<link rel="stylesheet" href="assets/css/app.css" />
    <script type="text/javascript" src="assets/js/angular.min.js"></script>


	</head>
<body ng-app="gemStore" ng-controller="StoreController as store">
	<header>
    <nav class="srNav">
      <div class="nav-wrapper">
      	<div class="container">
    	    <div class="row">
  	        <div class="col s12 m12 center-align">
  		        <a href="#" class="brand-logo">The Flatlanders</a>
  	        </div>
    	    </div>
      	</div>
      </div>
    </nav>
    <section class="srVideoSection">
      <h1 class="srBigTitle">Gem Store</h1>
      <video autoplay loop id="srVideo" muted poster="assets/img/bg_flat.jpg">
        <source src="assets/video/videobg.mp4" type="video/mp4">
      </video>
    </section>    
  </header>



<div class="container">
	<div class="row">
	  <div class="col s12 m12">
		</div>
	</div>
	<div class="row">
		<div class="srContent">
			  <div class="col s12 m4 srProductCard" ng-hide="store.product.soldOut" ng-repeat="product in store.products">
    		  <div class="card">
		        <div class="card-image" ng-controller="GalleryController as gallery">
              <div class="srViewMore"><a href="#gem-{{product.id}}"><i class="material-icons">add</i></a></div>
		            <img ng-src="{{product.images[gallery.current]}}" ng-show="product.images.length">
		            <span class="card-title">{{product.name}}</span>
		            <span class="srCardPrice">{{product.price | currency }}</span>
		            <a class="btn-floating halfway-fab waves-effect waves-light red srAddToCart" ng-show="product.canPurchase">
		            <i class="material-icons">shopping_basket</i></a>
		            <ul class="srImgThumbnails" ng-show="product.images.length">
		            	<li class="srImgMini" ng-repeat="image in product.images">
		            		<img ng-src="{{image}}"/>
		            	</li>
		            </ul>              
		        </div>
		        <div class="card-content srBgDeg">
		        	<p class="white-text">{{product.description | limitTo: 100}}...</p>
		        </div>
            <div id="gem-{{product.id}}" class="modal">
              <div class="modal-content">
                <div class="row">
                  <div class="col s12 col m6 center-align" ng-controller="GalleryController as gallery">
                    <img ng-src="{{product.images[gallery.current]}}" ng-show="product.images.length">
                      <ul class="srImgThumbnails" ng-show="product.images.length">
                        <li class="srImgMini" ng-repeat="image in product.images">
                          <img ng-src="{{image}}"/>
                        </li>
                      </ul>
                  </div>
                  <div class="col s12 col m6">
                    <h4 class="center-align">{{product.name}}</h4>
                    <p>{{product.description}}</p>
                    <p class="center-align"><a class="waves-effect waves-light btn srBtnAddToCart srBgDeg"><i class="material-icons left">shopping_basket</i>Add to Cart</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 col ms12">
                    <!-- Start tabs-->
                    <section class="" ng-controller="TabController as tabs">
                      <ul class="tabs">
                        <li class="tab col s4" ng-class="{active: tabs.isSet(1)}"><a ng-click="tabs.setTab(1)" href>Description</a></li>
                        <li class="tab col s4" ng-class="{active: tabs.isSet(2)}"><a ng-click="tabs.setTab(2)" href>Specs </a></li>
                        <li class="tab col s4" ng-class="{active: tabs.isSet(3)}"><a ng-click="tabs.setTab(3)" href>Reviews</a></li>
                      </ul>
                      <div ng-show="tabs.isSet(1)" class="col s12 srTabs">{{product.description}}</div>
                      <div ng-show="tabs.isSet(2)" class="col s12 srTabs">Shine: {{product.shine}}</div>
                      <div ng-show="tabs.isSet(3)" class="col s12 srTabs">
                        <blockquote ng-repeat="review in product.reviews">
                          <b>Stars: {{review.stars}}</b>
                          {{review.body}}
                        <cite>by: {{review.author}}</cite>
                        </blockquote>
                      <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add </i></a>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close purple darken-4 waves-effect waves-red btn-flat">Continue shopping</a>
              </div>
            </div>
   				</div>
        </div>
			</div>
   </div>
</div>

		<!-- Footer -->
<footer id="footer" class="grey darken-4">
	<div class="srCopyright container">
		<div class="row">
			<div class="col s12 m6">
				<p class="srCopyrightText">
				&copy; SaulRamos.com.ve - All rights reserved
				</p>
			</div>
			<div class="col s12 m6">
				<a href="#" class="srLogoFooter right-align">SaulRamos
				</a>
			</div>
		</div>
</div>
</footer>

		<!-- Scripts -->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="assets/js/materialize.js"></script>
 <script type="text/javascript" src="assets/js/ngDialog.min.js"></script>
 <script type="text/javascript" src="assets/js/app.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

</body>
</html>
